@model Service.ViewModels.SignUpViewModel

@{
	ViewBag.Title = "Sign In";
	Layout = "~/Views/Shared/Layout-UnAuthenticated.cshtml";
}

<div class="hero-banner">
	<div class="hero-banner-inner">
		<div class="hero-banner-title">
			<h1>Sign In</h1>
			<span class="hero-banner-message">Lorem ispum dispum blah bleh.</span>
		</div>
	</div>
</div>
<div class="body row">
	<form class="col-sm-6" action="/account/signin" method="POST">
		<div class="form-group row">
			<label for="email" class="col-sm-12 col-form-label fw-500">Email Address</label>
			<div class="col-sm-12">
				<input type="email" class="form-control text-box" id="email" name="email" placeholder="jondoe@example.com">
			</div>
		</div>
		<div class="form-group row">
			<label for="password" class="col-sm-12 col-form-label fw-500">Password</label>
			<div class="col-sm-12">
				<input type="password" class="form-control text-box" id="password" name="password" placeholder="*********">
			</div>
		</div>
		@*<div class="form-group row">
			<label class="col-sm-3"></label>
			<div class="col-sm-9">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox"> Remember me on this machine
					</label>
				</div>
			</div>
		</div>*@
		<div class="text-danger">
			@Html.ValidationSummary("Please correct the following errors and try again -")
		</div>
		<div class="form-group row">
			<div class="offset-sm-3 col-sm-9">
				<button type="submit" class="btn btn-success btn-big">Sign in</button>
			</div>
		</div>
	</form>
	<div class="col-sm-6 prompt">
		@if (!Html.ViewData.ModelState.IsValid)
		{
			<h5 class="text-danger">Whoops! Please correct these errors to continue</h5>
			<div class="text-danger fw-500">
				@Html.ValidationSummary()
			</div>
		}
		else
		{
			<h5>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet... </h5>
			<p>
				Donec efficitur risus sit amet leo cursus, vitae ornare nisi feugiat. Suspendisse iaculis elit ut porttitor bibendum. Donec id lectus enim. Etiam pellentesque dolor ipsum, et congue lacus congue a. Ut pellentesque congue mollis. Duis ac neque orci. Duis lacinia, enim eget porttitor viverra, turpis turpis laoreet odio, ac hendrerit odio sapien nec purus.
			</p>
		}
	</div>
</div>