@model WebApplication.ViewModels.SignUpViewModel

@{
		ViewBag.Title = "SignUp";
		Layout = "~/Views/Shared/Layout-UnAuthenticated.cshtml";
}

<h2>SignUp</h2>
<form>
	<button class="btn btn-primary">cool</button>
</form>