.btn {
  cursor: pointer;
  font-size: 14px;
  /*padding: .5rem 2.75rem;*/
  line-height: 17px;
  letter-spacing: .02em;
  border-radius: 4px; }
  .btn .btn-transparent {
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff; }

.btn-success {
  background-color: #46AA85;
  border: 0px; }

.btn-big {
  padding: 15px 30px; }
