.prompt {
  border: 1px solid #ecdeca;
  background-color: #fff9df;
  margin: 0 0 30px 0;
  font-size: 14px;
  padding: 25px 30px 25px 30px;
  line-height: 1.4;
  color: #444; }

.form-control {
  border: 1.8px solid;
  border-color: #ccc #ccc #ccc #ccc; }

.text-box {
  border-radius: 6px; }

.validation-summary-valid {
  display: none; }

.Select-control {
  cursor: pointer; }

.text-area {
  height: 200px; }

.notifications-wrapper {
  display: inline; }

.slide-pane {
  transition: transform .2s; }
  .slide-pane .slide-pane__header .slide-pane__close {
    display: none; }
  .slide-pane .slide-pane__header .slide-pane__subtitle {
    color: #777;
    font-size: 10px; }
