.prompt {
  border: 1px solid #ecdeca;
  background-color: #fff9df;
  margin: 0 0 30px 0;
  font-size: 14px;
  padding: 25px 30px 25px 30px;
  line-height: 1.4;
  color: #444; }

.notification {
  position: fixed;
  text-align: center;
  width: 100%;
  background: #3d845a;
  top: 40px;
  padding: 8px;
  z-index: 11;
  color: #fff;
  opacity: 0.9; }

.notification.error {
  background: #7c3f3c; }

.form-control {
  border: 1.8px solid;
  border-color: #ccc #ccc #ccc #ccc; }

.text-box {
  border-radius: 6px; }

.validation-summary-valid {
  display: none; }

.Select-control {
  cursor: pointer; }

.text-area {
  height: 200px; }

.text-area-short {
  height: 100px; }

.notifications-wrapper {
  display: inline; }

.slide-pane {
  transition: transform .2s; }
  .slide-pane .slide-pane__header .slide-pane__close {
    display: none; }
  .slide-pane .slide-pane__header .slide-pane__subtitle {
    color: #777;
    font-size: 10px; }
  .slide-pane .slide-pane__content {
    padding: 9pt 6px 9pt 9pt; }
    .slide-pane .slide-pane__content .form-control {
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px; }
    .slide-pane .slide-pane__content ul {
      -webkit-padding-start: 0px; }
      .slide-pane .slide-pane__content ul li {
        list-style-type: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        border-radius: 4px;
        border: 1px solid #d1d5da;
        color: #586069;
        margin-bottom: 10px; }
        .slide-pane .slide-pane__content ul li:hover {
          background: #f6f8fa;
          cursor: pointer; }
        .slide-pane .slide-pane__content ul li.active {
          background: #007bff;
          border-color: #007bee;
          color: #fff; }
        .slide-pane .slide-pane__content ul li .value {
          padding-left: 10px; }
        .slide-pane .slide-pane__content ul li .selection {
          float: right;
          margin-right: 10px; }
          .slide-pane .slide-pane__content ul li .selection .done {
            margin-right: 10px;
            margin-left: 10px; }
          .slide-pane .slide-pane__content ul li .selection .done-hidden {
            visibility: hidden; }
