.hero-banner {
  background: #E1E4E8;
  color: #777;
  letter-spacing: .01em;
  border-top: 1px solid #d7dbdf;
  border-bottom: 1px solid #d7dbdf; }

.hero-banner-inner {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 0 40px 0; }
  .hero-banner-inner .hero-banner-title {
    display: inline-block;
    width: 50%; }
    .hero-banner-inner .hero-banner-title h1 {
      font-size: 34px; }
    .hero-banner-inner .hero-banner-title .hero-banner-message {
      color: inherit; }
    .hero-banner-inner .hero-banner-title .select-project {
      margin-left: -10px; }
      .hero-banner-inner .hero-banner-title .select-project label {
        color: inherit; }
  .hero-banner-inner .hero-banner-buttons {
    float: right; }
    .hero-banner-inner .hero-banner-buttons .btn {
      margin-left: 15px;
      padding: 8px 12px;
      background: #9FA6AB;
      color: #fff; }
    .hero-banner-inner .hero-banner-buttons .btn:hover {
      background: rgba(0, 0, 0, 0.5); }

#hero-issues-view .hero-banner-inner {
  display: block;
  height: 130px; }
  #hero-issues-view .hero-banner-inner .hero-banner-summary .gravy {
    float: left;
    margin-left: 15px;
    border-right: 1px solid #cfcfcf;
    padding-right: 15px;
    height: 60px; }
    #hero-issues-view .hero-banner-inner .hero-banner-summary .gravy .image {
      margin-right: 12px;
      position: relative;
      top: -12px; }
      #hero-issues-view .hero-banner-inner .hero-banner-summary .gravy .image img {
        border-radius: 4px; }
    #hero-issues-view .hero-banner-inner .hero-banner-summary .gravy .summary span {
      display: block; }
  #hero-issues-view .hero-banner-inner .hero-banner-summary .info {
    float: left;
    width: 150px;
    border-right: 1px solid #cfcfcf;
    text-align: center; }
    #hero-issues-view .hero-banner-inner .hero-banner-summary .info .id {
      font-size: 24px;
      width: 100%;
      display: block; }
    #hero-issues-view .hero-banner-inner .hero-banner-summary .info .badge {
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      padding: 4px 8px;
      min-width: 60px;
      text-transform: capitalize; }
  #hero-issues-view .hero-banner-inner .hero-banner-summary .summary, #hero-issues-view .hero-banner-inner .hero-banner-summary .image {
    display: inline-block; }
