#issues.body {
  /*width: 98%;*/ }

#issues {
  margin-top: -18px; }

#hero-issues .hero-banner-inner {
  padding: 18px 0 18px;
  /*max-width: 98%;*/ }

.hero-banner-issue-create .fa-long-arrow-left {
  margin-right: 10px; }

#issue-create-form label {
  color: #555;
  font-size: 14px;
  margin-bottom: 5px; }

#issue-create-form #create {
  margin-right: 15px; }

#issue-create-form .title {
  font-size: 20px;
  font-weight: bold; }

#issue-list {
  margin-left: 15px;
  margin-right: 15px; }
  #issue-list .issue-row {
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px solid #e1e4e8;
    border-top: 0px; }
    #issue-list .issue-row .title {
      font-size: 16px;
      font-weight: bold; }
    #issue-list .issue-row .subtitle {
      margin-left: 25px;
      text-transform: lowercase; }
    #issue-list .issue-row .status {
      margin-right: 10px; }
  #issue-list .filter {
    border: 1px solid #e1e4e8;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #e1e4e8;
    background: #F6F8FA;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 15px; }
    #issue-list .filter .separator {
      margin-left: 10px;
      margin-right: 10px; }
    #issue-list .filter .fa {
      color: #666;
      margin-top: 8px;
      font-size: 10px; }

#issue-view-form .issue-header {
  font-size: 24px;
  font-weight: bold; }

#issue-view-form .comment-box {
  display: flex; }
  #issue-view-form .comment-box .avatar {
    margin-right: 15px; }
    #issue-view-form .comment-box .avatar img {
      border-radius: 4px; }
  #issue-view-form .comment-box .comment {
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    color: #24292e;
    width: 100%; }
    #issue-view-form .comment-box .comment .comment-header, #issue-view-form .comment-box .comment .comment-body {
      padding: 15px; }
    #issue-view-form .comment-box .comment .comment-head {
      padding-right: 15px;
      padding-left: 15px;
      color: #586069;
      background-color: #f6f8fa;
      border: 1px solid #d1d5da;
      border-bottom: 0px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding-top: 10px;
      padding-bottom: 10px; }
    #issue-view-form .comment-box .comment .comment-body {
      border: 1px solid #d1d5da; }

.sidebar {
  color: #586069;
  font-size: 14px; }
  .sidebar .item {
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9; }
    .sidebar .item label {
      font-weight: bold; }
    .sidebar .item i {
      color: #c3c8cf; }
