#issues.body {
  /*width: 98%;*/ }

#issues {
  margin-top: -18px; }

#hero-issues .hero-banner-inner {
  padding: 18px 0 18px;
  /*max-width: 98%;*/ }
  #hero-issues .hero-banner-inner .new-issue {
    right: 0px;
    position: absolute;
    top: 18px; }

.hero-banner-issue-create .fa-long-arrow-left {
  margin-right: 10px; }

#issue-create-form label {
  font-size: 14px;
  margin-bottom: 5px; }

#issue-create-form #create {
  margin-right: 15px; }

#issue-create-form .title {
  font-size: 20px;
  font-weight: bold; }

#issue-list {
  margin-left: 15px;
  margin-right: 15px; }
  #issue-list #applied-filters {
    margin-top: 10px; }
    #issue-list #applied-filters .badge {
      font-size: 14px;
      font-weight: normal;
      background: #ddd;
      color: #777;
      padding: 5px 9px;
      margin-right: 10px; }
  #issue-list .issue-row {
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px solid #e1e4e8;
    border-top: 0px; }
    #issue-list .issue-row .title {
      font-size: 16px; }
      #issue-list .issue-row .title .title-text {
        width: 90%;
        display: inline-block; }
    #issue-list .issue-row .status {
      margin-right: 10px; }
  #issue-list .filter {
    border: 1px solid #e1e4e8;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #e1e4e8;
    background: #F6F8FA;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 15px; }
    #issue-list .filter .active:hover, #issue-list .filter .inactive:hover {
      text-decoration: none; }
    #issue-list .filter .active {
      color: #24292e; }
    #issue-list .filter .inactive {
      color: #999; }
    #issue-list .filter .separator {
      margin-left: 10px;
      margin-right: 10px; }

#issue-view-form .issue-header {
  font-size: 24px;
  font-weight: bold; }

#issue-view-form .comment-box {
  display: flex; }
  #issue-view-form .comment-box .avatar {
    margin-right: 15px; }
    #issue-view-form .comment-box .avatar img {
      border-radius: 4px; }
  #issue-view-form .comment-box .comment {
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    color: #444;
    width: 100%; }
    #issue-view-form .comment-box .comment .comment-header, #issue-view-form .comment-box .comment .comment-body {
      padding: 15px;
      padding-bottom: 0px;
      min-height: 50px; }
    #issue-view-form .comment-box .comment .comment-head {
      padding-right: 15px;
      padding-left: 15px;
      color: #586069;
      background-color: #f6f8fa;
      border: 1px solid #d1d5da;
      border-bottom: 0px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding-top: 10px;
      padding-bottom: 10px; }
    #issue-view-form .comment-box .comment .comment-body {
      border: 1px solid #d1d5da; }

#issue-view-form #add-comment-box {
  padding-top: 15px;
  border-top: 2px solid #eee; }
  #issue-view-form #add-comment-box .button-box {
    margin-left: 50px; }
    #issue-view-form #add-comment-box .button-box .btn {
      font-size: 14px; }

.sidebar {
  color: #586069;
  font-size: 14px; }
  .sidebar .sidebar-item {
    width: 80%;
    height: 80px;
    border-bottom: 1px solid #e9e9e9; }
    .sidebar .sidebar-item .hover-link:hover {
      color: #0056d3;
      cursor: pointer; }
    .sidebar .sidebar-item #assignee-view .react-gravatar {
      margin-bottom: 2px; }
    .sidebar .sidebar-item #assignee-view .fa-cog {
      margin-top: 3.5px; }

#issues-view .loading-message {
  margin-left: 50px;
  margin-bottom: 15px; }

#issues-view .timeline-item {
  margin-bottom: 15px;
  margin-left: 50px; }
