Src/WebApplication/.vs/WebApplication/v15/.suo
Src/WebApplication/bin
Src/WebApplication/obj
Src/Service/bin
Src/Service/obj
Src/Database/bin
Src/Database/obj
Src/Repository/bin
Src/Repository/obj*
*.csproj.user
*.sqlproj.user
Database/Database.dbmdl
Database/Database.jfm
/Src/WebApplication/*.user
/Src/WebApplication/_PublishedWebsites
