@model object

@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/Layout.cshtml";
}
<div id="hero-issues" class="hero-banner">
	<div class="hero-banner-inner">
		<div class="hero-banner-title">
			<h1>Issues</h1>
		</div>
	</div>
</div>
<div id="issues" class="body">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>mdo</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>TwBootstrap</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>fat</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td colspan="2">Larry the Bird</td>
			<td>twitter</td>
		</tr>
		</tbody>
	</table>
</div>

