.gray {
	color: #586069;
}

.dark-gray {
	color: #24292e;
}

.light-gray {
	color: #777;
}

.help {
	color: #999;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-28{
	font-size: 28px;
}

.fs-34{
	font-size: 34px;
}

.fw-500 {
	font-weight: 500;
}

.fw-700{
	font-weight: 700;
}

.fc-white {
	color: #fff;
}

.pt-10 {
	padding-bottom: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mr-15 {
	margin-right: 15px;
}

.green {
	color: #28a745;
}
.red {
	color: #cb2431;
}

.width-100-percent{
	width: 100%;
}

.title-case{
	text-transform: capitalize;
}

.ta-right{
	text-align: right;
}

.ta-left{
	text-align: left;
}