.hero-banner {
	background: #E1E4E8;
	color: #777;
	letter-spacing: .01em;
	border-top: 1px solid #d7dbdf;
    border-bottom: 1px solid #d7dbdf;
}

.hero-banner-inner {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 18px 0 40px 0;
	.hero-banner-title {
		display: inline-block;
		width: 50%;
		h1{
			font-size: 34px;
		}
		.hero-banner-message {
			color: inherit;
		}
		.select-project {
			margin-left: -10px;
			label {
				color:inherit;
			}
		}
    }
}

.hero-banner-issue-view {
    .hero-banner-inner{
        margin-bottom: 15px;
    }
    .more-details {
        .badge {
            margin-right: 10px;
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
        }
        .link {
            color:#888;
            margin-right: 10px;
            border-left: 1px solid #aaa;
            padding-left: 10px;
            &:hover {
                color:#565;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .title {
        font-size: 24px;
        color:#444;
        a {
            color: #999;
        }
    }
}