.hero-banner {
	background: #E1E4E8;
	color: #777;
	letter-spacing: .01em;
	border-top: 1px solid #d7dbdf;
    border-bottom: 1px solid #d7dbdf;
}

.hero-banner-inner {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 18px 0 60px 0;
	.hero-banner-title {
		display: inline-block;
		width: 50%;
		h1{
			font-size: 34px;
		}
		.hero-banner-message {
			color: inherit;
		}
		.select-project {
			margin-left: -10px;
			label {
				color:inherit;
			}
		}
	}

	.hero-banner-buttons {
		float: right;

		.btn {
			margin-left: 15px;
			padding: 8px 12px;
			background:#9FA6AB;	
			color:#fff;		
		}
		.btn:hover  {
			background: rgba(0,0,0,0.5);
		}
	}
}

#hero-issues-view {
	.hero-banner-inner{
		display: block;
		height: 130px;
		.hero-banner-summary{
			.gravy {
				float: left;
				margin-left: 15px;
				border-right: 1px solid #cfcfcf;
				padding-right: 15px;
				height: 60px;
				.image {
					margin-right: 12px;
					position: relative;
					top: -12px;
					img {
						border-radius: 4px;
					}
				}				
				.summary{					
					span{
						display: block;
					}
				}
			}
			.info {
				float: left;
				width: 150px;
				border-right: 1px solid #cfcfcf;
				text-align: center;
				.id {
					font-size: 24px;
					width: 100%;
					display: block;
				}
				.badge {
					font-size: 14px;
					font-weight: normal;
					line-height: 16px;
					padding: 4px 8px;
					min-width: 60px;
					text-transform: capitalize;
				}
			}
			.summary, .image{
				display: inline-block;
			}
		}
	}
}