.bg-dark {
	background: #333333 !important;
	
	padding: 0px;
    padding-left: 82px;
    padding-right: 75px;

	.fa {
		font-size: 20px;
		margin-left: 25px;
		color: #999;
	}

	.fa.fa-plus {
		margin-right: 25px;
	}

	.form-control {
		font-size: 10px;
		border: 0px;
	}
	
	a {
		color: #999;
	}
	a:hover {
		color: #fff;
	}
}

#unauthenticated-navbar form a.login, #unauthenticated-navbar form a.name {
	color: #fff;
	margin-left: 15px;
}

#unauthenticated-navbar form a.name {
	margin-right: 15px;
}