@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@using Repository.Models.Issue
@using Service.ViewModels.Project
@model object

@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/Layout.cshtml";
}

@{
    var issue = (SingleIssueViewModel) ViewBag.Issue;
}

<script type="text/javascript">
	window.app = {};
	window.app.issue = {}
    window.app.issue = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(issue)));
</script>
<div id="app-issue-view-root"></div>
@Html.Partial("_ReactJs")