@using Service.Extensions
@using Service.ViewModels.Project
@model List<ProjectListViewModel>

@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="hero-banner">
	<div class="hero-banner-inner">
		<div class="hero-banner-title">
			<h1>Projects</h1>
			<span class="hero-banner-message">Lorem ispum dispum blah bleh.</span>
		</div>
	</div>
</div>
<div id="projects" class="body">
	<div class="inner-projects row">
		<div class="col-md-6">
			<input type="text" class="form-control" placeholsder="search..."/>
		</div>
		<div class="col-md-6">
			<a href="/projects/new" class="pull-right btn btn-success">New Project</a>
		</div>
		<div class="col-md-12">
			<div id="list" class="card">
				<ul class="list-group list-group-flush ">
					@foreach (var item in Model)
					{
						<li class="list-group-item">
							<div class="row">
								<span class="col-md-5 fw-500 fs-20">@item.Name</span>
								<span class="col-md-2 help fs-16">
									@if (item.UserCount == 1)
									{
										<span>Only you.</span>
									}
									else
									{
										@item.UserCount
										<span>Members</span>	
									}
								</span>
								<span class="col-md-2 help fs-16">
									<a href="/">52 Open Issues</a>
								</span>
								<span class="col-md-2 help fs-16">
									<i class="fa fa-clock-o"></i> @item.CreatedOn.ToTimeAgo()
								</span>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

