@model object

@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="hero-banner">
	<div class="hero-banner-inner">
		<div class="hero-banner-title">
			<h1>Projects</h1>
			<span class="hero-banner-message">Lorem ispum dispum blah bleh.</span>
		</div>
	</div>
</div>
<div id="projects" class="body">
	<div class="row">
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="search..."/>
		</div>
		<div class="col-md-6">
			<a href="/projects/new" class="pull-right btn btn-success">New Project</a>
		</div>
		<div class="col-md-12 d-block">
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>

