@model object

@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="hero-banner">
	<div class="hero-banner-inner">
		<div class="hero-banner-title">
			<h1>Projects</h1>
			<span class="hero-banner-message">Lorem ispum dispum blah bleh.</span>
		</div>
	</div>
</div>
<div class="body row">
	Hello
</div>

